
.table{
    width: 90vmin;
    height: 90vmin;
    background: #000000;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5vmin auto;
}

.main-space{
    background: rgb(255, 255, 255);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.top{
    transform: rotate(0deg);
}

.right{
    transform: rotate(90deg);
}

.left{
    transform: rotate(calc(90deg * 3));
}

.bottom{
    transform: rotate(180deg);
}

.main{
    background: rebeccapurple !important;
}

.red{
    background: red !important;
}

.blu{
    background: royalblue !important;
}

.yel{
    background: gold !important;
}

.gre{
    background: green !important;
}

.space{
    width: auto;
    height: auto;
    border: white solid 0.1vmin;
}

.x{
    background: rgb(243, 243, 243) !important;
}

.y{
    background: rgb(231, 231, 231) !important;
}

.point{
    background: rgb(109, 109, 109) !important;
}