
.table{
    width: 90vmin;
    height: 90vmin;
    background: #000000;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5vmin auto;
}

.main-space{
    background: rgb(255, 255, 255);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.top{
    transform: rotate(0deg);
}

.right{
    transform: rotate(90deg);
}

.left{
    transform: rotate(calc(90deg * 3));
}

.bottom{
    transform: rotate(180deg);
}

.red{
    background: red !important;
}

.main{
    background: rebeccapurple !important;
}



.space{
    background: rgb(247, 169, 236);
    width: auto;
    height: auto;
    border: black solid 1px;
}

.space .x{
    background: rgb(255, 255, 255) !important;
}

.space .y{
    background: rgb(212, 212, 212) !important;
}